ion-content
{
  --background: rgb(215, 222, 228);
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
h1
{
text-align: center;
}
  .example-full-width {
    width: 100%;
  }

}

