<div>
  <ion-fab-button type="back" (click)="back()">Back </ion-fab-button>
</div>
<ion-content>
<li *ngFor="let item of items | async;let i=index">
  <ion-list>
  <h1>Quiz started</h1>
  <h3>{{item.record.questionNo}}{{item.record.Question}}</h3>
  <ion-list>
  <ion-radio-group [(ngModel)]="valueselected">
  <ion-item>
    <ion-label> {{item.record.Option1}} </ion-label>
    <ion-radio  value="{{item.record.Option1}}"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> {{item.record.Option2}} </ion-label>
     <ion-radio  value="{{item.record.Option2}}"></ion-radio>
   </ion-item>
   <ion-item>
    <ion-label> {{item.record.Option3}} </ion-label>
     <ion-radio  value="{{item.record.Option3}}"></ion-radio>
   </ion-item>
   <ion-item>
    <ion-label> {{item.record.Option4}} </ion-label>
     <ion-radio  value="{{item.record.Option4}}"></ion-radio>
   </ion-item>
</ion-radio-group>
</ion-list>
<div>
<ion-button type="submit" class="btn btn-primary" (click)="goto()" [disabled]="!valueselected">Submit answer</ion-button>
  </div>
</ion-list>
</li>

